{% extends "base.html" %} {% block body %}


<table class="table table-striped table-bordered">
        <thead>
            <tr>
                

                <th>主題</th>
                <th>發文日期</th>
                <th>內容</th>
                <th>取消?</th>
            </tr>
        </thead>
        <tbody>
           {% for myposts in myposttt%}
            <tr>

                <td>{{myposts.topic}}</td>
                <td>{{myposts.postdate |date:'Y/m/d H:i'}}</td>
                <td> {{myposts.content}}</td>
                <td>
                     <a href="{% url 'member:deletepost' myposts.id %}"  class="btn btn-danger">刪除文章</a>
                    
                </td>   
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}