{% extends 'base.html'%} {%block body %}

<!-- <img src="../../static/images/00.jpg" id="button1" data-toggle="popover" title="流動比率(Current Ratio)" data-content="And here's some amazing content. It's very engaging. Right?">
<button type="button" id="button2" class="btn btn-lg btn-primary" data-toggle="popover" title="流動比率(Current Ratio)" data-content="And here's some amazing content. It's very engaging. Right?">流動比率</button> -->

<div  style="margin-left:20px;float:left">
<img src="../../static/images/001.png" width="150px" id="#mg1" data-toggle="popover" data-placement="bottom" title="現金比率" data-content="一種財務比率，用來評估企業償付短期債務的能力。">

</div>

<div style="margin-left:20px;float:left">
    <img src="../../static/images/002.png" width="150px" id='#img2' data-toggle="popover" data-placement="bottom"  title="流動比率" data-content="流動比率是衡量短期債務清償能力最常用的比率,是衡量企業短期風險的指標。計算方式為企業流動資產與流動負債之比。 從該指標的計算可見：流動比率越高，說明資產的流動性越大，短期償債能力越強。">
    
    </div>

    <div style="margin-left:20px;float:left">
        <img src="../../static/images/003.png" width="150px" data-toggle="popover" data-placement="bottom" title="資產周轉率" data-content="資產周轉率是衡量企業資產管理效率的重要財務比率，在財務分析指標體系中具有重要地位。這一指標通常被定義為銷售收入與平均資產總額之比。">
        
        </div>

        <div style="margin-left:20px;float:left">
            <img src="../../static/images/004.png" width="150px" data-toggle="popover" data-placement="bottom"  title="效率比" data-content="反映銀行經營效率的費用比率。依照銀行業者的計算方法可能各有不同。">
            
            </div>


            <div style="margin-left:20px;float:left">
                <img src="../../static/images/005.png" width="150px" data-toggle="popover" data-placement="bottom"  title="獲利能力比率" data-content="主要是衡量企業盈利能力的指標:包含毛利率、營業利潤率、凈利潤率等">
                
                </div>

{%endblock%}

{% block script %} 


<script>
$(function () {
  $('img').popover({
        container: 'body'
  })
})
  </script>
{% endblock %}